
.logo {
  height: 40px; 
  margin-right: 16px;
  margin-left: 10px; 
}
.img1{
  height: 40px;
  margin-right: 16px;
  margin-bottom: 5px;
  margin-left: auto
  
}

.spacer {
  flex: 1; 
}

.search-field {
  display: flex;
  margin-bottom: auto;
  flex-grow: 0;   
  margin-right: 16px;

  width: 250px; 
}

mat-form-field {
  height: 16px;    
  margin: 0;      
  
  input {
    height: 32px;         
    font-size: 14px;     
    line-height: 32px;   
    padding: 0 8px;       
  }
  .mat-form-field-flex {
    height: 30px;         
  }

  .mat-form-field-label {
    line-height: 30px;    
  }
}


.recipe-card {
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);  
}


mat-toolbar {
  display: flex;            
  align-items: center;     
  padding: 0 16px;         
  background-color: #dda8c9; 
}

.logo {
  height: 40px;            
  margin-right: 16px;      
}

.spacer {
  flex: 1;               
}

button {
  margin-left: 8px;         
}

.recipe-list {
  display: grid;                   
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;                        
  margin: 16px;   
}

.recipe-card {
  margin-bottom: 16px;      
  transition: transform 0.2s; 
}

.recipe-card:hover {
  transform: scale(1.02);   
}

