<div class="add-recipe-container">
  <mat-card class="add-recipe-card">
    <h2>Add New Recipe</h2>
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Recipe Title</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Time to Prepare (minutes)</mat-label>
        <input
          matInput
          type="number"
          formControlName="time_to_prepare"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Add Recipe
      </button>
    </form>
  </mat-card>
</div>
